/* Typography */

$primary-font:'Work Sans',
Helvetica,
Arial,
sans-serif;
$secondary-font:'Montserrat',
Helvetica,
Arial,
sans-serif;

/* Standard Colors */

$body-color:#102e44;

/* Color Scheme */

$white: #fff;
$black:#424242;
$red:#da291d;
$gray-light:#e5e5e5;
$blue-dark:#3b4559;

$nav:$white;
$footer:$black;
$h1:$blue-dark;
$border:#b7b7b7;
$link:#55aada;

/* Other Colors */

$facebook: #3b5998;
$twitter: #29c5f6;
$pinterest: #c61118;

/* Font Weights */

$thin: 100;
$light: 300;
$normal:400;
$medium:500;
$semi-bold:600;
$bold:700;
$extra-bold:800;
$bold-black:900;